#kalkulatorBox {
    width: 100%;
    height: 40%;
    padding: 20%;
    margin: 0%;
    outline: rgb(77, 77, 100);
    background: rgb(77, 77, 100);
}

#txtBoxLeftDark {
    outline: rgb(77, 77, 100);
    background: rgb(77, 77, 100);
    text-align: left;
    color: white;
    padding: 2%;
    margin-left: 0%;
    float: left;
}

#txtBoxRightDark {
    outline: rgb(77, 77, 100);
    background: rgb(77, 77, 100);
    text-align: left;
    color: white;
    padding: 2%;
    margin-left: 65%;
}


#writeDarkHeight {
    width: 25%;
    height: 2%;
    background: rgb(125, 125, 150);
    margin: 0;
    padding: 0;
    float: left;
}

#writeDarkWidth {
    width: 25%;
    height: 2%;
    background: rgb(125, 125, 150);
    padding: 0%;
    margin-left: 40%;
}

#dropdownDarkUOld {
    width: 25%;
    height: 2%;
    background: rgb(125, 125, 150);
    margin: 0;
    padding: 0;
    float: left;
}

#dropdownDarkUNew {
    width: 25%;
    height: 2%;
    background: rgb(125, 125, 150);
    padding: 0%;
    margin-left: 40%;
}

#writeDarkTemp {
    width: 25%;
    height: 2%;
    background: rgb(125, 125, 150);
    margin: 0;
    padding: 0;
    float: left;
}

#dropdownDarkLocation {
    width: 25%;
    height: 2%;
    background: rgb(125, 125, 150);
    padding: 0%;
    margin-left: 40%;
}