* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::placeholder {
    color: white;
    opacity: 0.5;
}

#kalkulatorBox {
    height: 100%;
    width: 98%;
    margin-top: 20%;
    background-color: rgb(77, 77, 100);
    margin-left: 1%;
    position: relative;
}

#txtBoxLeftDark {
    width: 25%;
    text-align: left;
    margin-top: 0%;
    margin-left: 10%;
    color: white;
}

#txtBoxRightDark {
    width: 25%;
    text-align: left;
    margin-top: -3%;
    margin-left: 65%;
    color: white;
}

#writeDarkHeight {
    height: 1%;
    width: 25%;
    margin-top: 2%;
    margin-left: 10%;
    background-color: rgb(125, 125, 150);
    color: white;
}

#writeDarkWidth {
    height: 1%;
    width: 25%;
    margin-top: -6.8%;
    margin-left: 65%;
    background-color: rgb(125, 125, 150);
    color: white;
}

#dropdownDarkUOld {
    height: 1%;
    width: 25%;
    margin-top: 2%;
    margin-left: 10%;
    background-color: rgb(125, 125, 150);
    color: white;
}

#dropdownDarkUNew {
    height: 1%;
    width: 25%;
    margin-top: -6.8%;
    margin-left: 65%;
    background-color: rgb(125, 125, 150);
    color: white;
}

#writeDarkTemp {
    height: 1%;
    width: 25%;
    margin-top: 2%;
    margin-left: 10%;
    background-color: rgb(125, 125, 150);
    color: white;
}

#dropdownDarkLocation {
    height: 1%;
    width: 25%;
    margin-top: -6.8%;
    margin-left: 65%;
    background-color: rgb(125, 125, 150);
    color: white;
}