#txtW {
    color: white;
    margin: 5px;
    padding: 5px;
}

#cntrtxtW {
    color: rgb(255, 255, 255);
    margin: 5px;
    padding: 5px;
    text-align: center;
}

#bigtxtW {
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 10px;
    font-size: 50;
}

#txt {
    color: black;
    margin: 5px;
    padding: 5px;
}

#cntrtxt {
    color: black;
    margin: 5px;
    padding: 5px;
    text-align: center;
}

#bigtxt {
    color: black;
    text-align: center;
    margin: 10px;
    font-size: 50;
}